* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
}

.header-top {
    background: #000;
    padding: 10px;
    width: 100%;
    display: flex;
}

.header-top-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

}

.header-text i {
    color: #fff;
    font-size: 12px;
    margin-right: 4px !important;
}

.header-axtaris {
    display: inline-block;

}

.header-text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.header-axtaris input {
    width: 100%;
    height: 20px;
    border-radius: 30px;
    padding: 10px;
    font-size: 13px;
    outline: none;
}

.header-text span {
    color: #fff;

    font: 13px arial, sans-serif;
    border-right: 1px solid #DADADA;
    padding-right: 8px;
}

.header-text p {
    font: 12px arial, sans-serif;
    color: #fff;

}

.header-text img {
    margin: 0 10px;
    width: 10%;
    height: 20px;
    object-fit: cover;
}

.header-main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header-filtr {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: px;
}

.header-filtr select,
option {
    width: 90%;
    height: 30px;
    border: 1px solid #DADADA;
    border-radius: 3px;
    margin: 5px;
    font-size: 14px;
}

.header-filtr button {
    margin: 5px;
    width: 90%;
    height: 30px;
    background: #DF2127;
    border-radius: 3px;
    border: none;
    color: #fff;

}

.header-text2 {

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;

}

.header-text2 span {

    margin: 0 5px;
    color: #404040;
    font-size: 20px;

    i {
        margin-right: 5px;
    }
}

.logo {
    margin: auto;
    width: 98px;
    height: 60px;
    margin: 10px;

    img {
        width: 80%;

        object-fit: cover;
    }
}
.aramesafe{
    display: none;
}
.menubar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.menubar a {
    border-left: 1px solid #DADADA;
    padding-left: 5px;
    display: flex;
padding-right: 5px;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 50px;
    color: #404040;
    background: #FAFAFA;
    font-size: 13px;
    text-decoration: none;
  
}
.menu1 {
    border-left: none !important;
}
.main-top {
    padding: 5px;
    width: 100%;
}

.main-kataqoriya {
    margin: 10px 0;
    width: 100%;
    overflow-y: hidden;
    scrollbar-width: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid #DADADA;
    padding: 5px;
}

.main-kataqoriya span {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
    border-right: 1px solid #DADADA;
    padding-right: 10px;
    border-left: none;
    text-align: center;
}

.main-kataqoriya span:last-child {
    border-right: none;
}

.silder {
    position: relative;
    height: 100%;
    width: 100%;
    margin: auto;

}

.block {
    margin: 10px;
}

.swiper {
    width: 100%;
    height: 80%;
    border-radius: 10px;

}

.swiper-slide {
    text-align: center;
    font-size: #fff;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

}

.swiper-wrapper {
    width: 100%;
}

.silder-img {
    width: 100%;
    height: 250px;
}

.silder-img img {

    width: 100%;
    height: 100%;
    object-fit: cover;
}


.swiper-pagination span {
    background: #fff;
    border-radius: 20px;
    width: 30px;
    height: 5px;
}
.silder-info {
   
    position: absolute;
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100vh; 
    background: linear-gradient(-180deg, rgba(0, 0, 0, 0.66) 20.83%, rgba(196, 196, 196, 0) 100%);
    z-index: 1; 
}

.alisveris a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
}

.alisveris {
    position: absolute;
    top: 70%;
    left: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 173px;
    height: 40px;
    border: 1px solid #FFFFFF;
    border-radius: 3px;
    z-index: 2;
}

.info-head {
    margin: 20px!important;
    line-height: 25px!important;
    color: #ffdf40 !important;
    font-weight: 700!important;
    font-size: 30px!important;
    z-index: 2; 
}

.silder-info p {
    margin: 20px!important;

    color: #fff;
    font-family: 'TT Interfaces';
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    width: 60%;
    text-align: left;
    z-index: 2; 
}
.teklif-blcoks{
    padding: 5px;
}
.teklif{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid #DADADA;
   
}
.teklif-main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.teklif-text{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 5px;
    
    width: 80%;
    
    }
    .saat{
    text-align: center;
    font-weight: 550;
    margin: 0 5px;
    font-size: 13px;
    padding: 5px;
    width: 45px;
    height: 39px;
    background: #F4F4F4;
    border-radius: 3px;
   
    }

.teklif-desc{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;

}
.teklif-text h3{
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 19px;
text-align: center;
color: #000000;


}
.teklif-img{
    width: 40%;
    margin: auto;
    text-align: center;
}
.teklif-img img{
    text-align: center;
    width: 50%;
    object-fit: cover;
    margin: 10px ;
}
.teklif-desctext{
    width: 60%;
    padding: 5px;

h4{
font-weight: 900;
font-size: 18px;

color: #000000;
    }
    .div1{

display: flex;
align-items: center;
justify-content: center;
padding: 5px;
margin-top: 15px;
width: 100%;
height: 30px;
border: 0.8px solid #00A1FC;
border-radius: 3px;
font-size: 18px;
color: #00A1FC;
    }
    .div2{

display: flex;
align-items: center;
justify-content: center;
padding: 5px;
margin-top: 15px;
width: 100%;
height: 30px;
border: 0.8px solid #0000FF ;
border-radius: 3px;
font-size: 18px;
color: #0000FF;
    }
}
.qiymetler{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 5px;
}
.qiymet1{
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 25px;
color: #FF0000;
margin-right: 10px;
}
.qiymet2{
    text-decoration: line-through;
font-size: 16px;
color: #333333;
}
.sebetat{
    margin: 10px 0;
width: 100%;
height: 40px;
background: #FF0000;
border-radius: 5px;
border: none;
color: #fff;
font-weight: 500;
font-size: 16px;
i{
    margin-right: 10px;
}
}
.teklifgor{
display: flex;
align-items: center;
justify-content: center;
text-decoration: none;
width: 100%;
height: 50px;
background: #DADADA;
border-radius: 0px 0px 10px 10px;
font-family: 'TT Interfaces';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
color: #333333;
}
.service-card{
    margin: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.service-card1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
padding: 5px!important;
}
.service-main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    flex-direction: column;
    width: 100%;
    height:max-content;
    background: #FAFAFA;
    text-align: center;
    border-radius: 10px;
    
}
.service-main h5{
font-weight: 560;
font-size: 17px;
color: #333333;
margin-top: 10px;
}
.service-main p{
font-size: 16px;
font-weight: 450;
color: #333333;


}
.onecixan-mob{
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    padding:5px;
}
.onecixan{
    width: 100%;
    display: none;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    padding:5px;
}
.onecixan-blcok{
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    
}
.onecixan-blcok2{
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    
}
.onecixan-content{
    border-radius: 5px;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.onecixan-content{
    border-radius: 5px;
    background: url(../img/1bb5ced63bd89626a58e4f3f87e3795b.png)center/cover;
    width: 100%;

}
.onecixan-content2{
    border-radius: 5px;
    background: url(../img/silder2.png)center/cover;
    width: 100%;


}
.one-cixanmain{
    overflow: hidden;
background: linear-gradient(90deg, rgba(223, 33, 39, 0.8) 0%, rgba(79, 79, 79, 0.8) 100%);
height: 200px;
width: 100%;
}
.one-text{
    width: 100%;
}
.one-text h3{
margin: 25px;
font-weight: 600;
font-size: 20px;
color: #FFFFFF;

}
.one-cixanmain p{
font-size: 15px;
line-height: 19px;
color: #FFFFFF;
margin: 25px;
}
.one-cixanmain a{
     margin: 25px;
display: flex;
align-items: center;
justify-content: center;
width: 50%;
height: 40px;
background: #000000;
color: #fff;
text-decoration: none;
border-radius: 5px;

}


#mehsular{
    padding: 15px;
    
}
.mehsular-head{

width: 100%;
text-align: left;
h1{
font-weight: 500;
font-size: 30px;
color: #333333;


}
}
#mehsularcontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}
.mehsulcard{
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
    border-radius: 10px;
    border:  1px solid #DFDFDF;
}

.mehsul-img{
    margin: 10px;
    width: 128px;
    height: 100px;
    text-align: center;
    img{
        width: 50%;
        height: 100%;
        object-fit: cover;
        margin: auto;
    }
}
.mehsular-text{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 5px;
    margin: 10px;
    h6{
font-weight: 300;
font-size: 13px;
color: #C4C4C4;
    }
    h4{
font-size: 16px;
font-weight: 500;
text-align: left;

    }
    p{
margin: 10px 0;
font-size: 20px;
font-weight: 500;
line-height: 25px;

    }
.stok{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
border-radius: 10px;
   padding: 5px;
border: 1px solid #5BC904;
font-size: 15px;
color: #5BC904;

    i{
       color: #5BC904;
    }
}
.sebetat2{
width: 100%;
height: 40px;
padding: 5px;
background: transparent;
border: 1px solid #FF0000;
color: #FF0000;
border-radius: 5px;
font-size: 16px;
font-weight: 500;
i{
    margin-right: 10px;
}
}
}
@media (min-width: 800px) {
    .service {
        width: 100%;
    }

    .service-card {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
    }

    .service-main {
        flex-direction: row;
        width: 100%;
    }

    .service-card1 {
        padding-right: 16px;
    }
}
@media only screen and (min-width: 768px) {
   
    .header-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header-top-content {

        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        margin: auto;
        width: 98%;

    }

    .header-axtaris {
        width: 50%;
        padding: 5px;
    }

    .header-top-content i {
        color: #fff;
        font-size: 13px;
    }

    .header-top-content input {
        width: 85%;
        height: 30px;
        border-radius: 30px;
    }

    .header-text {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .header-top-content span {
        color: #fff;
        font: 14px arial, sans-serif;
        border-right: 1px solid #DADADA;
        padding-right: 8px;
    }

    .header-text p {
        font: 14px arial, sans-serif;
        color: #fff;
        margin: 0 5px;

        i {
            margin-left: 5px;
        }
    }

    .header-text img {
        margin: 0 10px;
        width: 3%;
        height: 20px;
        object-fit: cover;
    }

    .header-main {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        margin: auto;
    }

    .header-filtr {

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        width: 100%;

    }

    .header-filtr select,
    option {
        width: 15%;
        height: 45px;
        border: 1px solid #DADADA;
        border-radius: 3px;
        padding: 5px;
        margin-left: 15px;
        font-size: 14px;
    }

    .header-filtr button {
        margin-left: 15px;
        width: 10%;
        height: 45px;
        background: #DF2127;
        border-radius: 3px;
        border: none;
        color: #fff;

    }

    .aramesafe {
        display: block;
        border: none;
        background-color: #DADADA;
        height: 2px;
        width: 35px;
        transform: rotate(90deg);
        margin: 0;
    }

    .header-text2 {

        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;

    }

    .header-text2 span {
        text-align: center;
        margin: 0 5px;
        color: #404040;

        font-size: 20px;

        i {
            margin-right: 5px;
        }

    }

    .logo {
        margin-top: 20px;
        width: 98px;
        height: 60px;

        img {
            width: 100%;

            object-fit: cover;
        }
    }

    .menubar {
        margin: 0 15px;
    }

    .menu1 {
        border-left: none !important;
    }
    .container{
        max-width: 1200px;
        margin: auto;
    }

    .main-kataqoriya {
        text-align: center;
        margin: 10px;
        width: 50%;
       
        overflow-y: hidden;
        scrollbar-width: none;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 10px;
        transform: translateY(35px);

    }
    .main-kataqoriya svg{
        width: 25px!important;
    }
    .list {
        border-top: none !important;


    }

    .main-kataqoriya span:hover {
        background: #DF2127;
        color: #fff;
       scale: 1.1;

        
    }


    .main-kataqoriya span {
        
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        transition: .2s ease;
        width: 100%;
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 5px;
        border-top: 1px solid #DADADA;
        padding-top: 10px;
        border-right: none;
        text-align: left;
        height: 35px;

        svg {
            margin: 0 5px;
        }
    }

    .main-top {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        width: 100%;
        position: relative;
    }

    .silder {
        
            position: relative;
            height: 520px; /* Hündürlüyü 520px olaraq dəyişdirdik */
            width: 50%;
            top: -140px;
            left: -20px;
            margin: auto;
        
    }

    .block {
        margin: 10px;
    }

    .swiper {
        width: 95%;
        height: 100%;
    }

    .swiper-slide {
        text-align: center;
        font-size: #fff;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .swiper-wrapper {
        width: 100%;
    }

    .silder-img {
        width: 100%;
        height: 250px;
    }

    br {
        display: none;
    }

    .silder-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .swiper-pagination span {
        background: #fff;
        border-radius: 20px;
        width: 30px;
        height: 5px;
    }
    .teklif-blcoks{
        position: relative;
        width: 100%;
       
    }
.teklif {
    position: absolute;
    top: -380px;
    right:25px;
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid #DADADA;
}
    .teklif-main{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }
    .teklif-text{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 5px;
    
    width: 80%;
    }
    .saat{
    text-align: center;
    font-weight: 550;
    margin: 0 5px;
    font-size: 14px;
    padding: 5px;
    width: 48px;
    height: 39px;
    background: #F4F4F4;
    border-radius: 3px;
   
    }
    
    .teklif-desc{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    
    }
    .teklif-img{
        text-align: center;
        width:50%;
        margin: auto;
    }
    .teklif-img img{
        width: 60%;
        object-fit: cover;
      
    }
    .div-des{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }
    .teklif-desctext{
        display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     width: 100%;
    padding: 5px;
    
        h4{
    font-weight: 900;
    font-size: 18px;
    
    color: #000000;
        }
        .div1{
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin-right: 15px;
    width: 100%;
    height: 35px;
    border: 0.8px solid #00A1FC;
    border-radius: 3px;
    font-size: 15px;
    color: #00A1FC;
        }
        .div2{
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin-top: 15px;
    width: 50%;
    height: 30px;
    border: 0.8px solid #0000FF ;
    border-radius: 3px;
    font-size: 18px;
    color: #0000FF;
        }
    }
    .qiymetler{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        padding: 5px;
    }
    .qiymet1{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #FF0000;
    margin-right: 10px;
    }
    .qiymet2{
        text-decoration: line-through;
    font-size: 16px;
    color: #333333;
    }
    .sebetat{
        margin: 10px 0;
    width: 100%;
    height: 40px;
    background: #FF0000;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    i{
        margin-right: 10px;
    }
    }
    .teklifgor{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 100%;
    height:40px;
    background: #DADADA;
    border-radius: 0px 0px 10px 10px;
    font-family: 'TT Interfaces';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #333333;
    
    
    }
    .service {
        position: relative;
        width: 100%;
    }
    
    .service-card {
        position: absolute;
        top:320px;
        width:100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
    
    .service-main {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5px;
        flex-direction: row;
        width: 90%;
        height: 150px;
        background: #FAFAFA;
        text-align: center;
        border-radius: 10px;
        padding: 10px;
    }
    
    .service-card1 {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-right: 1px solid #DADADA;
        padding-right: 10px;
    }
    
    /* .service-mesafe {
        border: none;
        background-color: #DADADA;
        height: 2px;
        width: 60.6px;
        transform: rotate(90deg);
        margin: 0;
    } */
    .card1son{
        border-right: none;
    }
    .service-main h5 {
        font-weight: 560;
        font-size: 15px;
        color: #333333;
    }
    
    .service-main p {
        font-size: 12px;
        font-weight: 450;
        color: #333333;
    }
    .onecixan {
        position: absolute;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row; 
        padding: 5px;
        top: 750px;
        left: 165px;
        right: 0;
    }
    .onecixan-mob{
        position: absolute;
        width: 80%;
        display: none!important;
        align-items: center;
        justify-content: center;
        flex-direction: row; 
        padding: 5px;
        top: 750px;
        left: 165px;
        right: 0;
    }
    
    .onecixan-blcok, .onecixan-blcok2 {
        border-radius: 5px;
        padding: 10px;
        width: 399px;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5px;
     
    }
    
    .onecixan-content, .onecixan-content2 {
        border-radius: 5px;
        width: 100%;
        height: 100%;
       
        background-size: cover;
        background-position: center;
    }
    
    .onecixan-content {
        background-image: url(../img/1bb5ced63bd89626a58e4f3f87e3795b.png);
    }
    
    .onecixan-content2 {
        background-image: url(../img/silder2.png);
    }
    
    .one-cixanmain {
        overflow: hidden;
        background: linear-gradient(90deg, rgba(223, 33, 39, 0.8) 0%, rgba(79, 79, 79, 0.8) 100%);
        height: 180px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 5px;
        box-sizing: border-box;
        border-radius: 5px;
    }
    
    .one-text {
        width: 100%;
    }
    
    .one-text h3 {
        font-weight: 600;
        font-size: 20px;
        color: #FFFFFF;
        margin-bottom: 10px;
    }
    
    .one-cixanmain p {
        font-size: 15px;
        line-height: 19px;
        color: #FFFFFF;
        margin-bottom: 20px;
    }
    
    .one-cixanmain a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 40px;
        background: #000000;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
    }
    
}


#mehsular{
    padding: 15px;
 max-width: 1200px;
 margin: auto;
}
.mehsular-head{
margin-top: 30px;
width: 100%;
text-align: left;
h1{
font-weight: 550;
font-size: 30px;
color: #333333;


}
}
#mehsularcontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}
.mehsulcard{
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 209px;
    flex-direction: column;
    border-radius: 10px;
    border:  1px solid #DFDFDF;
}

.mehsul-img{
    margin: 10px;
    width: 128px;
    height: 100px;
    text-align: center;
    img{
        width: 50%;
        height: 100%;
        object-fit: cover;
        margin: auto;
    }
}
.mehsulcard h6{
font-size: 16px;
font-weight: 500;
color: #C4C4C4;            
}
.mehsular-text{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 5px;
   
    h4{
font-size: 19px;
font-weight:550;
color: #000;  

    }
    p{
margin: 10px 0;
font-size: 20px;
font-weight: 560;
color: #333333;

    }
.stok{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
border-radius: 10px;
   padding: 5px;
border: 1px solid #5BC904;
font-size: 15px;
color: #5BC904;

    i{
        margin-right:10px ;
       color: #5BC904;
    }
    .stokyox{
        color: #FF0000;
    }
}
.sebetat2{
width: 100%;
height: 40px;
padding: 5px;
background:#FF0000;;
transition: .2s ease;
color: #fff;
border-radius: 5px;
font-size: 16px;
font-weight: 500;
i{
    margin-right: 10px;
}
}
}
.sebetat2:hover{
    background: transparent;
    border-color: 1px solid #DF2127;
    color: #000;
}
@media (max-width: 1200px) {
  
    .onecixan {
        width: 70%;
        left: 185px;
    }
}

