@font-face {
    font-family:"TT Interfaces 2";
    src: url('../font/TT\ Interphases\ Pro\ Mono\ Trial\ Regular.ttf');
}
@font-face {
    font-family:"TT Interfaces bold";
    src: url('../font/TT\ Interphases\ Pro\ Trial\ Light.ttf');
}